body {
    background-color: #141414;
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
    height: 80vh;
    background: url("https://image.tmdb.org/t/p/original/8s4h9friP6Ci3adRGahHARVd76E.jpg") center/cover no-repeat;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.hero>div {
    position: relative;
    z-index: 2;
}

/* Movie Cards */
.movie-card img {
    width: auto;
    height: 300px;
    transition: transform 0.3s ease;
}

.movie-card img:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
}